<html>
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <script src="{{.StaticDir}}webcam.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="camContainer"></div>
    <button onclick="take_snapshot()" id ="clicker">Take Snapshot</button>
    <form enctype="multipart/form-data">
      <input name="webcam" type="file" />
      <input type="button" value="Upload" onclick="uploadFile()" />
    </form>
  </body>
  <link rel="stylesheet" href="{{.StaticDir}}style.css"/>
  <script src="{{.StaticDir}}script.js"></script>
</html>
